<!DOCTYPE html>
<html>
<head>
  <title>Hogwarts</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <nav>
      <ul>
        <li>
          <h2><a href='/students'>All Students</a></h2>
        </li>
        <li>
          <h2><a href='/students/new'>New Student</a></h2>
        </li>
      </ul>
  </nav>
  <a href="/students/gryffindor"><img src="/gryffindor.png" /></a>
  <a href="/students/slytherin"><img src="/slytherin.png" /></a>
  <a href="/students/ravenclaw"><img src="/ravenclaw.png" /></a>
  <a href="/students/hufflepuff"><img src="/hufflepuff.png" /></a>
<%= yield %>
</body>
</html>