* {
  color: white;
  font-family: helvetica;
  background-color: black;
}

img {
  height: 180px;
  width: 180px;
  display: inline-block;
}

body {
  text-align: center;
}

nav ul li {
  list-style: none;
}